Django
pytz
six
django-phonenumber-field
django-extensions
django-webpack-loader
djangorestframework
drf-nested-routers
static3
wsgiref
django-rest-swagger
markdown
django-filter
-e git://github.com/sunscrapers/djoser.git#egg=djoser
django-environ
gunicorn
dj-static
psycopg2
django-bootstrap3
django-filter
