Django
pytz
six
django-phonenumber-field
django-extensions
django-webpack-loader
djangorestframework
drf-nested-routers
static3
wsgiref
django-rest-swagger
markdown
django-filter
djoser
django-environ
gunicorn
dj-static
psycopg2
